
.definition {
    font-size: xx-large;
    margin-top: 160px;
}

.play_button {
    display: inline-block;
    text-align: center;
    margin-right: 50px;
}

.board_button {
    display: inline-block;
    text-align: center;
}

button {
    width: 200px;
    height: 50px;
    color: beige;
    background-color: steelblue;
    font-weight: bold;
    font-size: large;
    border: 3px solid beige;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
    transition: all 0.3s ease;
}

button:hover {
    font-size: larger;
    background-color: beige;
    color: steelblue;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition: all 0.3s ease;
}